*{
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.logo img{
  display: flex;
  z-index: 1;
  position: absolute;
  top: 1%;
  left: 10%;
  height: 119px;
  transform: translate(0,0);
}
header {
  display: flex;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  background-color: #600704;
  z-index: 100;
}
body {
background-color: rgba(14, 58, 96, 0.037);
}
#watch {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: -180px;
  left: 0px;
}
#runway {
  position: absolute;
  top: -13px;
  right: 0px;
}

ul {
  display: flex;
  z-index: 1;
  position: absolute;
  float: right;
  top: 20px;
  right: -10px;
  list-style-type: none;
  margin-top: 20px;
}

ul li {
  display: inline-block;
}

ul li a {
  padding: 5px 20px;
  text-decoration: none;
  color: #f0d397;
  border: 1px solid transparent;
  transition: 0.6s ease;
  display: flex;
  z-index: 1;
}

ul li a:hover {
  background-color: rgb(4, 29, 50);
  color: rgb(162, 193, 231);
}
